# Created by https://www.toptal.com/developers/gitignore/api/vagrant
# Edit at https://www.toptal.com/developers/gitignore?templates=vagrant

### Vagrant ###
# General
**/.vagrant/
# Ignore a file into which we can dump the SSH config Vagrant is using. This can help us connect to managed VMs quicker than using teh "vagrant ssh" command.
**/vagrant-ssh-config

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

# End of https://www.toptal.com/developers/gitignore/api/vagrant